body {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    word-wrap: break-word;
    line-height: 17px;
    background-color: #f2f0e7;
}

/*############################################################################################
    COLUMNS / LAYOUT
############################################################################################*/

.clmn-1 {
    width: 68px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-2 {
    width: 150px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-3 {
    width: 232px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-4 {
    width: 314px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-5 {
    width: 396px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-6 {
    width: 478px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-7 {
    width: 560px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-8 {
    width: 642px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-form {
    width: 617px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-9 {
    width: 724px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-10 {
    width: 806px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-11 {
    width: 888px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-12 {
    width: 970px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-space {
    margin-right: 14px;
    float: left;
}

.clmn-1-half {
    float: left;
    width: 102px;
}

.clmn-2-half {
    width: 195px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-spaceLeft {
    float: left;
    margin-left: 14px;
}

.clear-all-20 {
    float: left;
    height: 20px;
    width: 100%;
}

.clear-all-30 {
    float: left;
    height: 30px;
    width: 100%;
}

.clear-all-50 {
    float: left;
    height: 50px;
    width: 100%;
}

.clear-all-10 {
    float: left;
    height: 10px;
    width: 100%;
}

.clear-all-15 {
    float: left;
    height: 15px;
    width: 100%;
}

.clear-all-5 {
    float: left;
    height: 5px;
    width: 100%;
}

.table-2 {
    float: left;
    width: 100%;
    height: auto;
}

.table-2 a {
    color: #006c71;
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    position: relative;
    padding: 0 0 0px;
    margin: 0;
}

.center {
    width: 970px;
    height: auto;
    display: block;
    float: none;
    position: relative;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.float-left {
    float: left;
    position: relative;
    text-align: left;
}

.float-right {
    float: right !important;
    text-align: left;
    display: block;
}

/*############################################################################################
    ELEMENTS
############################################################################################*/

h1 {
    font-size: 19px;
    width: 100%;
    float: left;
    display: block;
}

h2 {
    font-size: 14px;
    width: 100%;
    float: left;
    display: block;
    line-height: 32px;
}

h3 {
    font-size: 24px;
    line-height: 26px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    position: relative;
    float: left;
    display: block;
    margin-bottom: 8px;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #F3F0E8;
    text-decoration: none;
}

.button-1 {
    height: 28px;
    width: auto;
    border: 1px solid #DE4F15;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #DE4F15;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    white-space: nowrap;
}

.button-1 a {
    color: #DE4F15;
}

a:hover {
    text-decoration: underline;
}

.green {
    color: #006c71;
}

.green a {
    color: #006c71;
}

.green-line {
    background-color: #006367;
    float: left;
    height: 8px;
    width: 100%;
}

.orange {
    color: #DE4F15;
}

.orange a {
    color: #DE4F15;
}

.grey {
    color: #8F8D82;
}

.light {
    color: #fcf9eb;
}

.lightgreen-background {
    background-color: #a6c6bf;
}

.lighter-green-background {
    background-color: #d9e2d9;
}

.green-background {
    background-color: #006c71;
}

.line-3px {
    background-color: #F3F0E8;
    float: left;
    height: 3px;
    width: 100%;
}

.line-divider {
    float: left;
    height: 3px;
    width: 100%;
    background-color: #fcf9eb;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e9e6d9;
    margin-top: 0px;
}

.line-divider2 {
    float: left;
    height: 2px;
    width: 100%;
    background-color: #e6ede6;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #bfcbbf;
    margin-top: 0px;
}

.line-divider-green {
    background-image: url(../imgs/horiz-footerline.jpg);
    background-repeat: repeat-x;
    height: 4px;
    width: 100%;
    float: left;
}

.mainSearch_divider {
    background-image: url(../imgs/divider_mainSearchwrapper.jpg);
    background-repeat: no-repeat;
    background-position: 176px top;
    height: auto;
    padding-top: 46px;
}

.horizontal-line {
    float: left;
    width: 100%;
    background-image: url(../imgs/horiz-line.jpg);
    background-repeat: repeat-y;
    background-position: 600px top;
    height: 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.horiz-line2 {
    margin-right: 14px;
    float: left;
    background-image: url(../imgs/horiz-line.jpg);
    background-repeat: repeat-y;
    background-position: right top;
}

.horiz-line3 {
    margin-right: 14px;
    float: left;
    background-repeat: repeat-y;
    background-position: right top;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #DE4F15;
}

/*############################################################################################
    RATING
############################################################################################*/

.rating-small-5star {
    background-image: url(../imgs/icon_stars-five_small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 54px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-small-4star {
    background-image: url(../imgs/icon_stars-four_small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 54px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-small-3star {
    background-image: url(../imgs/icon_stars-three_small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 54px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-small-2star {
    background-image: url(../imgs/icon_stars-two_small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 54px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-small-1star {
    background-image: url(../imgs/icon_stars-one_small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 54px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-small-0star {
    background-image: url(../imgs/icon_stars-empty_small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 54px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-5star {
    background-image: url(../imgs/icon_stars-five.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 89px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-4star {
    background-image: url(../imgs/icon_stars-four.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 89px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-3star {
    background-image: url(../imgs/icon_stars-three.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 89px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-2star {
    background-image: url(../imgs/icon_stars-two.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 89px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-1star {
    background-image: url(../imgs/icon_stars-one.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 89px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-0star {
    background-image: url(../imgs/icon_stars-empty.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    height: 20px;
    width: 89px;
    float: left;
    line-height: 20px;
    display: block;
}

.rating-number {
    font-size: 14px;
    line-height: 21px;
    margin-left: 20px;
    float: left;
    height: auto;
    width: auto;
    font-weight: bold;
}

form.mainSearch {
    width: auto;
    display: block;
    height: 31px;
    float: left;
}

form.mainSearch input[type=text] {
    color: #333333;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    height: 29px;
    float: left;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    width: 341px;
    background: #fcf9eb no-repeat;
    line-height: 29px;
}

form.mainSearch input[type=button] {
    position: relative;
    background: #e4f1f9 url(../imgs/search_button.jpg) no-repeat center center;
    cursor: pointer;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: transparent;
    height: 31px;
    width: 34px;
}

form.mainSearch input[type=button]:hover {
    background: #e4f1f9 url(../imgs/search_button_hover.jpg) no-repeat center center;
}

form.mainSearch2 {
    width: auto;
    display: block;
    height: 31px;
    float: left;
}

form.mainSearch2 input[type=text] {
    color: #333333;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    height: 29px;
    float: left;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    width: 341px;
    background: #fcf9eb no-repeat;
    line-height: 29px;
}

form.mainSearch2 input[type=button] {
    position: relative;
    background: #e4f1f9 url(../imgs/search2_button.jpg) no-repeat center center;
    cursor: pointer;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: transparent;
    height: 31px;
    width: 34px;
}

form.mainSearch2 input[type=button]:hover {
    background: #e4f1f9 url(../imgs/search2_button_hover.jpg) no-repeat center center;
}

form.mainSearch3 {
    width: auto;
    display: block;
    height: 31px;
    float: left;
    border: 1px solid #006C71;
}

form.mainSearch3 input[type=text] {
    color: #333333;
    height: 29px;
    float: left;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    width: 341px;
    background: #F9F7EB no-repeat;
    line-height: 29px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

form.mainSearch3 input[type=button] {
    position: relative;
    background: #e4f1f9 url(../imgs/search_button.jpg) no-repeat center center;
    cursor: pointer;
    height: 31px;
    width: 34px;
    border: 0px;
}

form.mainSearch4 {
    width: auto;
    display: block;
    height: 31px;
    float: left;
    border: 1px solid #006C71;
}

form.mainSearch4 input[type=text] {
    color: #333333;
    height: 29px;
    float: left;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    width: 341px;
    background: #F9F7EB no-repeat;
    line-height: 29px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

form.mainSearch4 input[type=button] {
    position: relative;
    background: #e4f1f9 url(../imgs/search2_button.jpg) no-repeat center center;
    cursor: pointer;
    height: 31px;
    width: 34px;
    border: 0px;
}

/*############################################################################################
    MENU SELECT
############################################################################################*/
.menu-select {
    width: 100%;
    height: 31px;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.menu-select.hover .options {
    height: auto;
}

.menu-select .value {
    height: 30px;
    display: block;
    float: none;
    padding: 5px;
    margin: 0;
    background: #ccc;
    line-height: 30px;
    overflow: hidden;
    font-weight: bold;
    color: #06F;
}

.menu-select .options {
    height: 0px;
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu-select .options a {
    display: block;
    float: none;
    padding: 10px 5px 5px 10px;
    margin: 0;
    background: #FFFFFF;
    text-decoration: none;
    color: #006C71;
    font-size: 12px;
}

.menu-select .options a:hover {
    color: #DF4F13;
}

.menu-select.green-select  .value {
    height: 31px;
    display: block;
    float: none;
    margin: 0px;
    background: #FCF8EC url(../imgs/menu-select-green.jpg) no-repeat right top;
    line-height: 30px;
    overflow: hidden;
    font-weight: normal;
    color: #006B71;
    width: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    text-indent: 10px;
}

.menu-select.green-select .options a {
    display: block;
    float: none;
    padding: 5px 5px 5px 10px;
    margin: 0;
    background: #FFFFFF;
    text-decoration: none;
    color: #006B71;
    font-size: 12px;
}

.menu-select.green-select .options a:hover {
    color: #DF4F13;
}

.menu-select.green-select-stroke .value {
    height: 31px;
    display: block;
    float: none;
    margin: 0px;
    background: #FCF8EC url(../imgs/menu-select-green.jpg) no-repeat right top;
    line-height: 30px;
    overflow: hidden;
    font-weight: normal;
    color: #006B71;
    width: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    text-indent: 10px;
    border: 1px solid #006A69;
}

.menu-select.orange-select .value {
    height: 31px;
    display: block;
    float: none;
    margin: 0px;
    background: #FCF8EC url(../imgs/menu-select-orange.jpg) no-repeat right top;
    line-height: 30px;
    overflow: hidden;
    font-weight: normal;
    color: #006B71;
    width: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    text-indent: 10px;
}

.menu-select.orange-select .options a {
    display: block;
    float: none;
    padding: 5px 5px 5px 10px;
    margin: 0;
    background: #FFFFFF;
    text-decoration: none;
    color: #006B71;
    font-size: 12px;
}

.menu-select.orange-select .options a:hover {
    color: #DF4F13;
}

.menu-select.orange-select-stroke .value {
    height: 31px;
    display: block;
    float: none;
    margin: 0px;
    background: #FCF8EC url(../imgs/menu-select-orange.jpg) no-repeat right top;
    line-height: 30px;
    overflow: hidden;
    font-weight: normal;
    color: #006B71;
    width: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    text-indent: 10px;
    border: 1px solid #026B6F;
}

.karma {
    float: left;
    font-size: 14px;
    line-height: 18px;
    width: 215px;
    margin-top: 5px;
    color: #8f8d82;
}

.karma-big {
    float: left;
    font-size: 14px;
    line-height: 22px;
    width: 68px;
    border: 1px dashed #F60;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #006C6F;
}

form.form1 {
    line-height: 29px;
    width: 478px;
}

form.form1 input[type=text] {
    color: #333333;
    height: 29px;
    float: left;
    font-size: 14px;
    width: 458px;
    background: #F3F0E8;
    line-height: 29px;
    border: 1px solid #006C71;
    padding-left: 10px;
    padding-right: 10px;
}

form.form1 textarea {
    color: #333333;
    height: 100px;
    float: left;
    font-size: 14px;
    padding-left: 10px;
    width: 468px;
    background: #F3F0E8;
    line-height: 29px;
    border: 1px solid #006C71;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    float: left;
    height: 28px;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #DF4F12;
    color: #DF4F12;
    line-height: 28px;
}

.button1 a {
    width: auto;
    color: #DF4F12;
}

.button2 {
    float: left;
    height: 28px;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #006B71;
    color: #006B71;
    line-height: 28px;
}

.button2 a {
    width: auto;
    color: #006B71;
}

.button3 {
    float: left;
    height: 28px;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #006B71;
    color: #006B71;
    line-height: 28px;
    background-color: #006C6F;
}

.button3 a {
    width: auto;
    color: #F2F0E7;
}

.button4 {
    float: left;
    height: 28px;
    width: auto;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #f7f5ef;
    color: #006B71;
    line-height: 28px;
    background-color: #f4f1e9;
}

.button4 a {
    width: auto;
    color: #006B71;
}

/*############################################################################################
    PAGINATION
############################################################################################*/
.pagination {
    text-align: center;
    line-height: 19px;
    height: auto;
    color: #006c71;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination a {
    text-decoration: none;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 5px;
    padding-left: 5px;
    color: #006c71;
}

.pagination a:hover, .pagination a:active {
    color: #000000;
}

.pagination span.current {
    color: #DE4F15;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.pagination span.disabled {
    color: #a0c0b8;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

/*############################################################################################
    DATASET TABS
############################################################################################*/
.etabs {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/icon_tab.jpg);
    background-repeat: repeat-x;
    background-position: center bottom;
    height: 39px;
}

.etabs li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tab {
    display: inline-block;
    background-image: url(../imgs/icon_tab.jpg);
    background-repeat: repeat-x;
    background-position: center bottom;
    height: 39px;
    padding: 0px;
    width: auto;
}

.tab a {
    font-size: 14px;
    display: block;
    outline: none;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #006c71;
    color: #006c71;
}

.tab a:hover {
    text-decoration: none;
    background-color: #006c71;
    color: #fcf9eb;
    font-weight: normal;
}

.tab.active {
    background: #006c71 url(../imgs/icon_current_tab.jpg) repeat-x center bottom;
    position: relative;
}

.tab a.active {
    color: #fcf9eb;
    font-weight: normal;
    border: 1px solid #006C71;
}

.tab2 {
    display: inline-block;
    background-image: url(../imgs/icon_tab.jpg);
    background-repeat: repeat-x;
    background-position: center bottom;
    height: 39px;
    padding: 0px;
    width: auto;
}

.tab2 a {
    font-size: 14px;
    display: block;
    outline: none;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    border: 1px solid #006c71;
    color: #006c71;
}

.tab2 a:hover {
    text-decoration: none;
    background-color: #006c71;
    color: #fcf9eb;
    font-weight: normal;
}

.tab2.active {
    background: #006c71 url(../imgs/icon_current_tab2.jpg) repeat-x center bottom;
    position: relative;
}

.tab2 a.active {
    color: #fcf9eb;
    font-weight: normal;
    border: 1px solid #006C71;
}

.tab-container {
    width: 100%;
}
