
.idea/.name

*.xml

*.iml

build/
src/
*.pyc

*._.DS_Store
configs/application.id
.idea/*

colibri/static/step_wizard/.DS_Store

colibri/tasks/redis-2.6.10/
colibri/tasks/

colibri.db



elasticsearch-0.90.1/data/*

elasticsearch-0.90.1/logs/*