{% extends "base.html" %}
{% block title %}Community{% endblock %}
{% block content %}
<div class="wrapper banner">
    <div class="clmn-12 center"><img src="/s/imgs/banner.jpg" width="970" height="403" border="0" usemap="#Map"/>
        <map name="Map" id="Map">
            <area shape="rect" coords="117,299,218,326" href="#"/>
        </map>
    </div>
</div><!-- END of wrapper Banner -->

<div class="wrapper search">
    <div class="clmn-12 center">

        <div class="clmn-5 clmn-space ">
            <ul class="searchOptions">
                <li class="keyword"><a href="#">KEYWORD SEARCH</a></li>
                <li class="filtered"><a href="#" class="selected">FILTERED SEARCH</a></li>
            </ul>
            <div class="clear-all-30"></div>
            <form class="mainSearch"><input type="text" class="search"><input type="button" value=""></form>
        </div>

        <div class="clmn-5 float-right">
            <div class="addnewDataset">
                <h2>GOT YOUR OWN OPEN DATASET?</h2><a href="#">Click here</a> to add a new Dataset
            </div>

            <div class="clear-all-20"></div>
            <div class="line-3px"></div>
            <div class="clear-all-20"></div>
        </div>

        <div class="clmn-5 float-right">
            <div class="lookingfor"><h2>DIDN’T FIND WHAT YOU WERE LOOKING FOR?</h2>Ask the Community to get it for you
            </div>
            <div class="clear-all-30"></div>

            <div class="lookingfor-select">
                <form action="#" method="post" enctype="application/x-www-form-urlencoded">
                    <select name="language" id="lookingforbox" class="selector">
                        <option value="1">I am looking for a dataset</option>
                        <option value="2">I need a format converion</option>
                        <option value="3">I need a cleaner verion</option>
                        <option value="4">I need a mashup</option>
                    </select>
                </form>
            </div>

        </div>
    </div>
</div><!-- END of wrapper Banner -->

<div class="wrapper-content">
    <div class="clmn-12 mainSearch_divider center ">
        <div class="clmn-7 ">
            <div class="category-title"><h1 class="orange ">Recent Submissions</h1></div>

            <div class="clear-all-30"></div>
            <div class="line-divider"></div>
            <div class="clear-all-20"></div>

            <div class="feed-block">
                <div class="clmn-1 clmn-space usersmall-Photo"></div>
                <div class="clmn-6">
                    <div class="clmn-5 feed">
                        <div class="clear-all-10"></div>
                        <div class="userActivity grey"><strong><a href="#">Dimitris Batis</a></strong> has added a new
                            dataset
                        </div>
                        <div class="feedTitle green"><a href="#">France Elections 2012</a></div>
                    </div>
                    <div class="clmn-1 bigdate float-right">Wed. 10/10/12</div>
                </div>
                <div class="clear-all-20"></div>
                <div class="line-divider"></div>
                <div class="clear-all-20"></div>
            </div>

            <div class="feed-block">
                <div class="clmn-1 clmn-space usersmall-Photo"></div>
                <div class="clmn-6">
                    <div class="clmn-5 feed">
                        <div class="clear-all-10"></div>
                        <div class="userActivity grey"><strong><a href="#">Dimitris Batis</a></strong> has added a new
                            dataset
                        </div>
                        <div class="feedTitle green"><a href="#">France Elections 2012</a></div>
                    </div>
                    <div class="clmn-1 bigdate float-right">Wed. 10/10/12</div>
                </div>
                <div class="clear-all-20"></div>
                <div class="line-divider"></div>
                <div class="clear-all-20"></div>
            </div>

            <div class="feed-block">
                <div class="clmn-1 clmn-space usersmall-Photo"></div>
                <div class="clmn-6">
                    <div class="clmn-5 feed">
                        <div class="clear-all-10"></div>
                        <div class="userActivity grey"><strong><a href="#">Dimitris Batis</a></strong> has added a new
                            dataset
                        </div>
                        <div class="feedTitle green"><a href="#">France Elections 2012</a></div>
                    </div>
                    <div class="clmn-1 bigdate float-right">Wed. 10/10/12</div>
                </div>
                <div class="clear-all-20"></div>
                <div class="line-divider"></div>
                <div class="clear-all-20"></div>
            </div>
            <!--end of feed blocks -->

        </div>

        <div class="clmn-4 float-right">
            <div class="category-title"><h1 class="orange ">Recent Submissions</h1></div>

            <div class="clear-all-30"></div>
            <div class="line-divider"></div>
            <div class="clear-all-20"></div>

            <div class="feed-block">
                <div class="clmn-1 clmn-space usersmall-Photo"></div>
                <div class="clmn-3">
                    <div class="clmn-3 feed">
                        <div class="clear-all-10"></div>
                        <div class="user-name"><strong><a href="#">Dimitris Batis</a></strong></div>
                        <div class="karma">Karma: <span class="orange">201234</span></div>
                    </div>
                </div>
                <div class="clear-all-20"></div>
                <div class="line-divider"></div>
                <div class="clear-all-20"></div>

                <div class="feed-block">
                    <div class="clmn-1 clmn-space usersmall-Photo"></div>
                    <div class="clmn-3">
                        <div class="clmn-3 feed">
                            <div class="clear-all-10"></div>
                            <div class="user-name"><strong><a href="#">Dimitris Batis</a></strong></div>
                            <div class="karma">Karma: <span class="orange">201234</span></div>
                        </div>
                    </div>
                    <div class="clear-all-20"></div>
                    <div class="line-divider"></div>
                    <div class="clear-all-20"></div>
                </div>


                <div class="feed-block">
                    <div class="clmn-1 clmn-space usersmall-Photo"></div>
                    <div class="clmn-3">
                        <div class="clmn-3 feed">
                            <div class="clear-all-10"></div>
                            <div class="user-name"><strong><a href="#">Dimitris Batis</a></strong></div>
                            <div class="karma">Karma: <span class="orange">201234</span></div>
                        </div>
                    </div>
                    <div class="clear-all-20"></div>
                    <div class="line-divider"></div>
                    <div class="clear-all-20"></div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
