{% extends "base.html" %}
{% block title %}Terms Of Use{% endblock %}
{% block content %}
{% load i18n %}
{% load url from future %}

<div id="terms_page" class="wrapper-content">
    <div class="clmn-12 center">

        <div id="about_container">
            <div id="terms_maintext">
                <div>
                    <div class="terms_title">
                        {%blocktrans%} Terms of use
                    </div>
                    <p> Welcome to our website. If you continue to browse and use this website you are agreeing to
                        comply with and be
                        bound by the following terms and conditions of use, which together with our privacy policy
                        govern colibri's
                        relationship with you in relation to this website.The term ‘EPU-NTUA' or ‘us' or ‘we' refers to
                        the owner of the
                        website, <a style="color:white" href="http://www.epu.ntua.gr" target="_blank"> <em>National
                            Technical University of Athens, School of Electrical and Computer Engineering, Decision
                            Support Systems Lab</em></a>, whose registered office is 9, Iroon Polytechniou st.,
                        Zografou, Athens, GREECE
                        15780. The term 'visitor' or ‘you' refers to the user or viewer of our website. The visitor/user
                        of the pages
                        and services of the colibri website should read this document carefully and if he does not agree
                        with its terms
                        and conditions he should NOT USE IT. Otherwise, he shall be considered as having accepted these
                        terms and given
                        his consent. The legal information and the terms and conditions of this document cover all the
                        pages of the
                        colibri Open Data website, unless otherwise expressly stated in any particular page. The use of
                        this website is
                        subject to the following terms of use:</p>

                    <div class="terms_title">
                        Limitation of liability
                    </div>
                    <p> When accessing this website, the visitor/user of the colibri Open Data website's pages and
                        services agrees that
                        he shall do so on his own responsibility and that none of the parties involved in the creation,
                        production or
                        publication of this website have any liability whatsoever. Indicatively, but without limitation,
                        they shall not
                        be liable for any direct, incidental, consequential or indirect damages or any costs or expenses
                        of any kind
                        (including lawyer's fees, expert's fees or other expenses) which may arise, directly or
                        indirectly, from the
                        access to, use or surfing of this website or from the downloading of any material, text, data,
                        video or sound
                        files from this website including indicatively and without limitation any damages caused by
                        viruses, bugs, human
                        action or omission, by any computer system, telephone line, hardware part, software or program
                        dysfunction or
                        any other mistake, omission or delay in transmission by the computer or network connection.</p>

                    <p> EPU-NTUA, without providing any warranty and therefore without being liable, shall make every
                        possible effort to
                        ensure maximum clarity, timeliness, completeness and availability of the information and
                        content. In no
                        circumstances, including negligence, shall EPU-NTUA be liable for any damage to the visitor/user
                        as a result of
                        the use of this website. The information, total content and services are provided on an "AS IS"
                        basis, without
                        warranties of any kind, either express or implied, which EPU-NTUA expressly rejects, including
                        indicatively but
                        not limited to, warranties of merchantability or suitability.</p>
                    <br>

                    <p> The visitor/user of this website must comply with the provisions of the Greek, European and
                        International Law
                        and the relevant legislation governing telecommunications and refrain from any unlawful and
                        abusive use of the
                        content and services of this website. Any damage caused to this website or the Internet, which
                        results from
                        improper or unlawful use of the relevant services by the visitor/user shall fall within his
                        exclusive sphere of
                        responsibility.</p>

                    <div class="terms_title">
                        Unlawful or unfair behavior
                    </div>
                    <p> The visitor/user of this website should not post or transmit through this website any
                        pornographic, obscene,
                        profane, defamatory, slanderous, threatening, illegal or other material that is a criminal
                        offence or may
                        encourage conduct that would constitute a criminal offence, give rise to civil liability or
                        otherwise violate
                        any law. Although EPU-NTUA or any other party who may be involved in the creation, production or
                        publication of
                        this website may monitor, inspect or review transmissions and postings, EPU-NTUA and other
                        parties involved in
                        the creation, production or publication of this website disavow any potential liability that may
                        arise from
                        their content, including indicatively and without limitation, any claims for defamation,
                        slander, blasphemy,
                        false impersonation or infringement of intellectual property rights.</p>
                    <br>

                    <div class="terms_title">
                        Hyperlinks
                    </div>
                    <p> Although this website may be linked to other websites, it is not responsible for the content and
                        services of
                        other websites hyperlinked through links or banners and makes no warranty for their
                        availability. EPU-NTUA
                        disclaims any direct or indirect approval, approbation, relationship, sponsoring or
                        collaboration with
                        hyperlinked websites, unless this is expressly indicated. By accessing this website, the
                        visitor/user agrees
                        that EPU-NTUA has no liability for any problems that may arise during the visit/use of websites
                        to which this
                        website is hyperlinked, which fall exclusively within the sphere of responsibility of the
                        respective
                        websites.</p>
                    <br>

                    <div class="terms_title">
                        Revision of this document
                    </div>
                    <h2></h2>

                    <p> EPU-NTUA reserves the right to revise this legal information at any time and for any reason,
                        without prior
                        notice or obligation. Users/visitors should check every time for any changes and their continued
                        use of the
                        website constitutes acceptance of the modified terms and conditions. Otherwise, they should
                        refrain from
                        using/visiting this website.</p>
                    <br>

                    <div class="terms_title">
                        Applicable law
                    </div>

                    <p> This use agreement is governed by the provisions of Greek Law, the directives and regulations of
                        European Law
                        and the relevant international provisions and is construed in accordance with the rules of good
                        faith, business
                        ethics and the financial and social purpose of the right. If any term of this agreement is
                        deemed invalid, void
                        and for any reason unenforceable, that term shall automatically be deemed severable and shall
                        not affect the
                        validity of the remaining terms of this agreement. No amendment of the terms of the agreement
                        shall be taken
                        into consideration or be part thereof, if it has not been stated in writing and not incorporated
                        in it. The
                        competent courts for any disputes arising from the agreement shall be the courts of Athens.</p>
                    <br>

                    <p> The management and protection of the personal data of the visitor/user of this website are
                        subject to the terms
                        of this section and the relevant provisions of Greek law (Law 2472/1997 as supplemented by the
                        decisions of the
                        Chairman of the Personal Data Protection Committee, Presidential Decrees 207/1998 and 79/2000
                        and article 8 of
                        Law 2819/2000) and European Law (Directives 95/46/EC and 97/66/EC). Any future relevant
                        regulation shall form
                        part of this section. If a visitor/user does not agree with the terms for personal data
                        protection set out in
                        this section, he should not use the services of this website. Visitors/users are required to
                        provide personal
                        data for this website. The visitor/user expressly agrees to the use of his personal data by
                        EPU-NTUA for
                        promotional or marketing activities. This website shall protect the personal nature of your
                        information and may
                        not communicate them to third parties (except as provided by law and then only to the relevant
                        authorities).
                        This website keeps files with the personal data provided by visitors/users solely for purposes
                        of communication,
                        statistics and improvement of the services provided and may process all or part of such
                        information for
                        statistics, market research or improvement of the services provided, as well as for promotional
                        or marketing
                        activities. The visitor/user may contact the relevant department by phone at ++30 210 772 3583,
                        in order to
                        determine the existence of his personal file and demand its correction, modification or
                        deletion.</p>
                    <br>

                    <p> This website uses "cookies", a technology that is used to identify the visitor/user of certain
                        services and web
                        pages of this site. Cookies are small text files (4 KB at most) that can be stored on the hard
                        disk of each
                        visitor/user without obtaining any knowledge of any document or file in his computer. They are
                        used to
                        facilitate visitor/user access to specific pages and services of this website or for statistical
                        purposes. The
                        visitor/user may personalize his server so as to be notified about the use of cookies in
                        specific pages/services
                        of this website and may choose not to accept the use of cookies.</p>
                    <br>

                    <p style="margin-bottom:60px;"> For users under the age of 18, prior consent of parents/guardians is
                        considered as given for any communication
                        of personal data to the colibri Open Data website.</p>{%endblocktrans%}
                </div>
            </div>
        </div>
    </div>
</div><!-- END of wrapper-content -->


{% endblock %}