{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/s/django_file_upload/css/bootstrap.min.css">
<link rel="stylesheet" href="/s/django_file_upload/css/bootstrap-responsive.min.css">
{% endblock %}
{% block content %}
<div id="login_page" class="wrapper-content">
    <div class="auth-form">
        <div class="auth-form-header">
            {% trans "Password Reset" %}
        </div>
        <div class="auth-form-body">

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}
