build/
src/
*.pyc

*._.DS_Store
configs/application.id
.idea/scopes/scope_settings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/workspace.xml

.idea/misc.xml

.idea/colibri.iml

.idea/modules.xml

.idea/encodings.xml

.idea/vcs.xml

colibri/static/step_wizard/.DS_Store

colibri/tasks/redis-2.6.10/
colibri/tasks/

.idea/other.xml

.idea/testrunner.xml

colibri.db

.idea/inspectionProfiles/Project_Default.xml


elasticsearch-0.90.1/data/elasticsearch/nodes

elasticsearch-0.90.1/logs/