body {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13px;
    word-wrap: break-word;
    line-height: 17px;
    background-color: #f2f0e7;
}

/*############################################################################################
    COLUMNS / LAYOUT
############################################################################################*/

.clmn-1 {
    width: 68px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-2 {
    width: 150px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-3 {
    width: 232px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-4 {
    width: 314px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-5 {
    width: 396px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-6 {
    width: 478px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-7 {
    width: 560px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-8 {
    width: 642px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-form {
    width: 617px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-9 {
    width: 724px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-10 {
    width: 806px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-11 {
    width: 888px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-12 {
    width: 970px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-space {
    margin-right: 14px;
    float: left;
}

.clmn-1-half {
    float: left;
    width: 102px;
}

.clmn-2-half {
    width: 195px;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.clmn-spaceLeft {
    float: left;
    margin-left: 14px;
}

.clear-all-20 {
    float: left;
    height: 20px;
    width: 100%;
}

.clear-all-30 {
    float: left;
    height: 30px;
    width: 100%;
}

.clear-all-50 {
    float: left;
    height: 50px;
    width: 100%;
}

.clear-all-10 {
    float: left;
    height: 10px;
    width: 100%;
}

.clear-all-15 {
    float: left;
    height: 15px;
    width: 100%;
}

.clear-all-5 {
    float: left;
    height: 5px;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    position: relative;
    padding: 0 0 0px;
    margin: 0;
}

.center {
    width: 970px;
    height: auto;
    display: block;
    float: none;
    position: relative;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.float-left {
    float: left;
    position: relative;
    text-align: left;
}

.float-right {
    float: right !important;
    text-align: left;
    display: block;
}

/*############################################################################################
    ELEMENTS
############################################################################################*/

h1 {
    font-size: 19px;
    width: 100%;
    float: left;
    display: block;
}

h2 {
    font-size: 14px;
    width: 100%;
    float: left;
    display: block;
    line-height: 32px;
}

h3 {
    font-size: 24px;
    line-height: 26px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    position: relative;
    float: left;
    display: block;
    margin-bottom: 8px;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #F3F0E8;
    text-decoration: none;
}

.button-1 {
    height: 28px;
    width: auto;
    border: 1px solid #DE4F15;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #DE4F15;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    white-space: nowrap;
}

.button-1 a {
    color: #E14F15;
}

.button-wizard {
    height: 28px;
    width: auto;
    border: 1px solid #006C71;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #006C71;
    margin-left: 14px;
    margin-bottom: 14px;
    margin-right: 0px;
    padding-right: 16px;
    padding-left: 16px;
    float: left;
    white-space: nowrap;
    background-color: #006C71;
}

.button-wizard.disabled {
    height: 28px;
    width: auto;
    border: 1px solid #006C71;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    color: #006C71;
    margin-left: 2px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding-right: 14px;
    padding-left: 14px;
    float: left;
    white-space: nowrap;
    background-color: #F2F0E7;
}

.button-wizard a {
    color: #F2F0E7;
}

.button-wizard.disabled a {
    color: #006C71;
}

a:hover {
    text-decoration: underline;
}

.green {
    color: #006c71;
}

.green a {
    color: #006c71;
}

.green-line {
    background-color: #006367;
    float: left;
    height: 8px;
    width: 100%;
}

.orange {
    color: #DE4F15;
}

.orange a {
    color: #DE4F15;
}

.grey {
    color: #8F8D82;
}

.light {
    color: #fcf9eb;
}

.lightgreen-background {
    background-color: #a6c6bf;
}

.lighter-green-background {
    background-color: #d9e2d9;
}

.green-background {
    background-color: #006c71;
}

.line-3px {
    background-color: #F3F0E8;
    float: left;
    height: 3px;
    width: 100%;
}

.line-divider {
    float: left;
    height: 3px;
    width: 100%;
    background-color: #fcf9eb;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e9e6d9;
    margin-top: 0px;
}

.line-divider2 {
    float: left;
    height: 2px;
    width: 100%;
    background-color: #e6ede6;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #bfcbbf;
    margin-top: 0px;
}

.line-divider-green {
    background-image: url(../imgs/horiz-footerline.jpg);
    background-repeat: repeat-x;
    height: 4px;
    width: 100%;
    float: left;
}

.horizontal-line {
    float: left;
    width: 100%;
    background-image: url(../imgs/horiz-line.jpg);
    background-repeat: repeat-y;
    background-position: 600px top;
    height: 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.horiz-line2 {
    margin-right: 14px;
    float: left;
    background-image: url(../imgs/horiz-line.jpg);
    background-repeat: repeat-y;
    background-position: right top;
}

.horiz-line3 {
    margin-right: 14px;
    float: left;
    background-repeat: repeat-y;
    background-position: right top;
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: #DE4F15;
}

.center-select {
    margin-left: 380px;
    margin-top: 10px;
}

.step {
    float: left;
    height: 50px;
    line-height: 50px;
    color: #006c71;
    border: 1px solid #006c71;
    background-image: url(../imgs/wizard_step_next.jpg);
    background-repeat: no-repeat;
    background-position: 44px center;
    font-size: 13px;
    width: 230px;
    margin-bottom: 14px;
}

.step a {
    color: #006C71;
}

.step.visited {
    float: left;
    height: 50px;
    line-height: 50px;
    color: #F2F0E7;
    border: 1px solid #006c71;
    background-image: url(../imgs/wizard_step_current_visited.jpg);
    background-repeat: no-repeat;
    background-position: 44px center;
    background-color: #006c71;
}

.step.visited a {
    color: #F2F0E7;
}

.step.current a {
    color: #F2F0E7;
}

.step.current {
    float: left;
    height: 50px;
    line-height: 50px;
    color: #F2F0E7;
    border: 1px solid #df4e14;
    background-image: url(../imgs/wizard_step_current_visited.jpg);
    background-repeat: no-repeat;
    background-position: 44px center;
    background-color: #df4e14;
}

.stepNumb {
    display: block;
    float: left;
    margin-left: 5px;
    font-size: 30px;
    margin-right: 15px;
}

.step-description {
    background-color: #d9e2d9;
    font-size: 14px;
    line-height: 31px;
    font-weight: bold;
    color: #006C71;
    text-indent: 5px;
    margin-bottom: 14px;
}

.step-content {
    margin-bottom: 14px;
    color: #006C71;
}

.wizard-navigation {
    float: left;
    height: auto;
    width: 100%;
    margin-top: 14px;
}
